/* header css */
.heading-h3 {
    color: #FFF;
    text-align: center;
    font-size: 33px;
    font-weight: 400;
    padding: 175px 530px 16px 530px;
}

.heading-h1 {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 16px 345px 175px 345px;
}

.heading-text {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    margin: 140px auto;
}

/* discount site styles */
.discount-site {
    margin-top: 120px;
}

#discount {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 800;
    margin-bottom: 48px;
}

#discount-title {
    color: #F00;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 16px;
}

#discount-category {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

/* new year images */
#new-year-photo {
    width: 803px;
    height: 500px;
    margin-top: 0px;
    align-items: center;
    margin: 0px 530px;
    margin-bottom: 120px;
}

/* party */
.midnight-party {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.party-details h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
    max-width: 642px;
    margin-bottom: 24px;
}

.party-details p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 697px;
    margin-bottom: 48px;
}

#img70 {
    justify-content: space-between;
    width: 320px;
    height: 365px;
    padding: 0.008px 0px 0px 0px;
}

#btn1 {
    background: none;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

/* place date time styles */
.place-date-time {
    text-align: center;
    align-items: center;
    width: 1320px;
    height: 480px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    margin: 50px auto;
}

#texts {
    padding: 100px 385px 0px 385px;
}

.text-color {
    color: #F00;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.p-d-t-text {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

#btn2 {
    margin-top: 64px;
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    background: #F00;
    color: #FFFFFF;
    font-size: 20px;
}

/* offers sections */
.offer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 140px;
    margin-top: 120px;
}

#best-offer {
    color: #F00;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

#coming-soon {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

#offer-details {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width: 393px;
    margin-top: 22px;
}

.ellipse1 {
    width: 340px;
    height: 340px;
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 40px;
    margin-bottom: 40px;
}

#txt-2024 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

#p3 {
    color: rgba(7, 2, 17, 0.60);
    max-width: 275px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

#img96 {
    width: 140px;
    height: 140px;
    margin-top: 43px;
}

.holiday {
    margin-top: 140px;
}

.holiday-containerP {
    align-items: center;
    padding-bottom: 70px;
}

.holiday-heading {
    color: #070211;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
}

.holiday-title {
    text-align: center;
    color: #070211;
    font-size: 75px;
    font-weight: 900;
    padding-bottom: 30px;
}

.holiday-description {
    padding-left: 400px;
    width: 1068px;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.holiday-images {
    width: 100%;
    position: relative;
    text-align: center;
}

.img1 {
    width: 500px;
    height: 350px;
    position: relative;
    top: 245px;
}

.img2 {
    width: 420px;
    height: 420px;
    position: relative;
    top: 4px;
    left: 300px;
}

.img3 {
    width: 200px;
    height: 200px;
    position: relative;
    top: 70px;
    left: 185px;
}

/* best gift styles */
.the-best-gift {
    margin: 120px 140px 0px 140px;
}

.b-g-texts {
    padding-left: 140px;

}

.best-gifts-heading {
    color: #F00;
    font-size: 25px;
    margin-bottom: 24px;
}

.best-gift-title {
    color: #070211;
    font-size: 48px;
}

.best-gift-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    line-height: 32px;
    max-width: 900px;
    margin-bottom: 48px;
}

.gift-images {
    padding-left: 140px;
    transition: 2s;
}

.gift-images2 {
    padding-left: 140px;
    transition: 2s;
}

/* subcribe section styles */
.subscribe {
    background: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    width: 1500px;
    height: 750px;
    text-align: center;
    margin: 140px auto;
}

.sub-img {
    width: 150px;
    height: 150px;
    padding: 80px 585px 80px 585px;
}

.sub-h1 {
    color: #070211;
    text-align: center;
    font-size: 48px;
}

.sub-p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    line-height: 32px;
    max-width: 900px;
    padding: 22px 212px 48px 212px;
}

#user-email {
    width: 650px;
    height: 72px;
    background: #FFF;
}

.btn {
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    background-color: #F00;
    border: 50px;
    font-size: 25px;
    font-weight: 600;
}
.gmail{
    font-size: 20px;
    color: rgba(7, 2, 17, 0.30);
    font-weight: 400;
}
/* footer section css */
.contact{
    display: flex;
    width: 1920px;
    height: 610px;
    background: #070211;
    justify-content: space-between;
    margin-left: 500px;
}
#add{
    display: flex;
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 100px;
}
.num{
    display: flex;
    

}
